.banner {

    display: flex;
    background-color: rgba(229, 84, 115, 0.05);
    width: 100%;
    height: 500px;
    justify-content: space-evenly;

}

.part-1 {
    margin-left: 140px;
    font-size: 80px;
    font-style: open
}

.btn-color {
    margin-left: 140px;
    border-radius: 8px;
    background: #E55473;

    padding: 20px 43px;

    gap: 10px;
    color: white;
    border: none;
}

#extra {
    margin-left: 140px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    line-height: 30px;
}

.start {
    font-size: 50px;
    margin-left: 140px;
    color: #272727;



}

body {

    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

#clr-change {

    color: #E55473;
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}


.span{


    color:rgba(229, 84, 115, 1) ;
}
.offer{

display: flex;
background:rgba(229, 84, 115, 0.05) ;
margin-top:30px; 
}
.deal{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;


}
.img2{

    margin-left: 300px;
}
.offer-text{
max-width: 500px;
text-align: center;
flex-direction: column;
margin-top: 100px;
margin-left: 150px;
}


.btn {
    border-radius: 8px;
background: #E55473;
display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
border: none;
color: white;
}




.sec-img {


    position: relative;
    left: 800px;
    bottom: 100px;

}

.social {

    text-align: center;
}

.pool {
    font-size: 40px;
}

.image{
    display: flex;
gap: 24px;
justify-content:center;
margin-top: 48px;
}
.info{
display: block;
    margin-top: 128px;
margin-left: auto;
margin-right: auto;

}
.last{
text-align: center;
background-color:#111010;

margin-top: 128px ;
margin-left: auto;
margin-right: auto;
height: 449px ;
}
.last-flw{
color:white ;
text-align: center;
font-size: 48px;
margin-top: 128px;
}
.pink{
    margin-top: 128px;
    color: #E55473;
}
.last-para{
color: white;
text-align: center;
}
.copy-r{
    color:white;
text-align: center;
font-size: smaller
}
.last{

    text-align: center;
}
.all{

    padding-top:25px;
}
.last-flw{
margin-bottom: 20px;

}
.copy-r{

    margin-top: 50px;
}
.gig{
    background-image:url('Rectangle\ 9.png');
    width:1440px; height: 449px;
 background-repeat: no-repeat;
display:block;
margin-left: auto;
margin-right: auto;

}
.search{
padding-top: 78px;
text-align: center;
color: #272727;

font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.cupon{

    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;


}
.box{
    text-align: center;
  padding:40px ;
row-gap: 5px;
}
.subs{
 background-color: #E55473;
color: white ;
border: none;
border-radius:8px ;
width: 150px;
height: 64px;
flex-shrink: 0;
}
.id{
    width: 700px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
border: none;
padding-left:20px;
}
.gen{

    height: 40px;
width: 200px;
display: block;
margin-left: auto;
margin-right: auto;
}
.flower{

    text-align: center;
padding-top: 40px;

}